@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {  
<<<<<<< HEAD
  --font-inter: "Inter";
  --default-font-family: "Inter";

=======
  --color-midnight: #19362d;
  --color-background: #171212;
  --color-secondary: #14040f;
>>>>>>> 8eb7736 (por favor need help with analytics issue bah)
}

body {
  background-color: #171212;
}
input[name="username"] {
  position: absolute;
  left: -999999999px;
}


.font-inter {
  font-family: "Bricolage Grotesque", serif;
  font-weight: 400;
  font-style: normal;
}
